<footer>
<div style="float:right">
<%#= link_to image_tag("/assets/know-who-logo.jpg", alt: "KnowWho"), 
  target: "_blank" %>
  Powered by <span style="font-size:24px">KnowWho</span>
</div>
<p>
  Copyright &copy; 2012 Capitol Commission. All rights reserved.
</p>
<br />
</footer>
