<footer>
<div class="pull-left">
  Copyright &copy; 2012 Capitol Commission. All rights reserved.
</div>
<div class="pull-right">
  Powered by <%= link_to(image_tag("logo-knowwho.png", alt: 'KnowWho Logo', style: 'position:relative;bottom:10px'), 'https://www.knowwho.com/', target: '_blank') %>
</div>
</footer>
