<footer>
<div class="container">
  <div class="row">
    <div class="span4" style="text-align:center">
      Copyright &copy; 2012 Capitol Commission.<br />
      <%= link_to(image_tag("cc-logo-white.png", alt: 'KnowWho Inc.', style: 'position:relative;top:5px'), 'http://capitolcom.org/', target: '_blank') %>
    </div>
    <div class="offset1 span2" style="text-align:center">
      Powered by:<br />
      <%= link_to(image_tag("logo-knowwho.png", alt: 'KnowWho Inc.', style: 'xposition:relative;bottom:17px'), 'https://www.knowwho.com/', target: '_blank') %>
    </div>
  </div>
</div>
</footer>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-39236063-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
