  <head>
    <meta charset="utf-8">
    <title>Pray1Tim2</title>
    <meta name="google-site-verification" content="qtMVWlG5xjhqY-6zDq3jfPX_JhMY9drzXvZ0EXl2fsA" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <%= stylesheet_link_tag  "application", :media => "all" %>
    <%= yield :html_head %>
  </head>
