<div id="header"></div>

<div class="container">

  <div class="row">
    <div class="span6 hidden-phone">
      <div class="cc-gradient">
        <%= image_tag("cc-logo-top.png", id: "cc-logo", 
                      alt: "Capitol Commission Reaching Capitol Communities for Christ") %>
      </div>
    </div>

    <div class="offset2 span4">
      <div class="cc-gradient">
        <div style="position:relative;left:70px">
          <div class="block-info">
            <%= link_to 'Find your State', states_path %>
            | <%= link_to 'Capitol Commission Home', 'http://capitolcom.org' %>
          </div>
          <h1 class="usa-prays">USA Prays<br />
            <small>A Ministry of Capitol Commission</small>
          </h1>
        </div>
      </div>
    </div>
  </div>

</div>
