<% content_for :page_title do %>
  <h1 class="page-header">How to Pray for Leaders</h1>
<% end %>

<% content_for :main do %>

<p class="lead">
The life of every citizen of every nation is impacted by a
vast multitude of individuals who wield significant influence each day.</p>

<p>Consider: millions of elected officials,
appointed judges, lawyers, police officers, bureaucrats, military officers, business executives and managers, those
involved in church leadership, educators, medical practitioners and hospital administrators. How might we pray for
these individuals?</p>

<p class="">
Here are 30 things based on Scripture
that we can pray for people in authority. Don’t overwhelm
yourself. Select one person or group of people and then
pray one of these things each day for them. 
</p>

<div class="well">
<ol>
  <li>
That they be God fearing and recognize that they 
are accountable to Him for each decision and act
(Prov. 9:10).
  </li>
  <li>
That they be granted wisdom, knowledge, and 
understanding (Jas. 1:5).
  </li>
  <li>
That they be presented with the gospel and a loving
Christian witness (Ro. 10:14).
  </li>
  <li>
That, if unsaved, they be drawn to a saving encounter
with Christ; if born-again, they be strengthened and
encouraged in their faith (1 Tim. 2:4, Eph. 1:17-23).
  </li>
  <li>
That they recognize their own inadequacy and pray
and seek the will of God (Prov. 3:5-8, Lk. 11:9-13).
  </li>
  <li>
That they be convicted of sin, transgression, and 
iniquity (Ps. 51:17, Jn. 8:9).
  </li>
  <li>
That they heed their conscience, confess their sins,
and repent (Prov. 28:13, Jas. 4:8).
  </li>
  <li>
That they read the Bible and attend prayer meetings
and Bible studies (Ps. 119:11, Col. 3:2).
  </li>
  <li>
That they value and regard the Ten Commandments
and the teachings of Christ (Ps. 19:7-11, Jn. 8:31-32).
  </li>
  <li>
That they respect and honor their own parents if 
living (Eph. 6:2-3).
  </li>
  <li>
That they respect authority and practice 
accountability (Ro. 13:1-7).
  </li>
  <li>
That they be given godly counsel and God-fearing
advisors (Prov. 24:6).
  </li>
  <li>
That they be honest and faithful to spouses and 
children (Mal. 2:15-16).
  </li>
  <li>
That they be practicing members of local 
congregations (Heb. 10:25).
  </li>
  <li>
That they desire purity and avoid debauchery, 
pornography, perversion, and drunkenness 
(1 Cor. 6:9-20, Titus 2:12).
  </li>
  <li>
That they be timely, reliable, and dependable 
(Mt. 21:28-31).
  </li>
  <li>
That they be honest in financial, tax, and ethical 
matters (1 Cor. 6:10, 1 Tim. 6:6-10).
  </li>
  <li>
That they seek pastoral care and counsel when 
needed (Heb. 13:7).
  </li>
  <li>
That they seek out and nurture godly friendships 
(Ps. 1:1-3).
  </li>
  <li>
That they have thankful and teachable spirits 
(Ro. 1:21).
  </li>
  <li>
That they be generous and have compassionate hearts
for the poor and needy (Ps. 112:9, Lk. 10:33-37).
  </li>
  <li>
That they redeem their time and know priorities 
(Eph. 5:15-17).
  </li>
  <li>
That they desire honesty, integrity, and loyalty 
(Psalm 26, Prov. 11:3).
  </li>
  <li>
That they have courage to resist manipulation, 
pressure, and the fear of man (Prov. 29:25, 2. Tim. 1:7).
  </li>
  <li>
That they be shielded from occultism, New Age cults,
false religions, and secret societies (Is. 1:29, 2:6).
  </li>
  <li>
That they be presented with biblical worldviews and
principles (Eph. 3:10).
  </li>
  <li>
That they endeavor to restore the sanctity of life, 
families, divine order, and morality in our nation 
(Eph. 5:22-6:4).
  </li>
  <li>
That they would work to reverse the trends of 
humanism in our nation (1 Chron. 12:32, Is. 59:19).
  </li>
  <li>
That they desire humility and meekness and be 
willing to serve and cooperate (Jn. 13:14, Titus 3:1-2).
  </li>
  <li>
That they be prepared to give account to Almighty
God (Heb. 9:27).
  </li>
</ol>
</div>
<% end %>
