<% content_for :title do %>
  How to Pray for Political Leaders
<% end %>

<p class="lead">
It is easy to criticize and complain about our political leaders and the decisions they make.  However, there is a better way.  The Bible instructs us to pray for them: <em>“I urge, then, first of all, that requests, prayers, intercession and thanksgiving be made for everyone, for kings and all those in authority...” &#8212;<strong> 1 Timothy 2:1-2a</strong></em></p>

<p class="lead">
But, what should we pray?  
Here are five suggestions based on selected scriptures.
</p>


<h2>1. Salvation</h2>
<p>
Political leaders, like all people, need the forgiveness of sins and new life that comes through trusting in Jesus Christ. “God our Savior…wants all men to be saved and to come to the knowledge of the truth.” (1Timothy 2:3b-4) Praying for the salvation of our leaders should be a top priority. (Acts 4:10-11; Romans 10:9) 
</p>


<h2>2. Wisdom and Discernment</h2>
<p>Political leaders are regularly called upon to make difficult decisions that affect many, many people.  How can we expect them to do this well without wisdom and discernment from God?  “God gave Solomon wisdom and discernment, and a breadth of understanding as measureless as the sand on the seashore.” 1 Kings 4:29 (Proverbs 2:6; James 1:5)</p>


<h2>3. Courage and Perseverance</h2>
<p>Political leaders are often called upon to make compromises.  Not doing so can cost them their careers.
They need God to give them courage to do the right thing no matter what the personal cost and to persevere through the pressure, tests, and trials and to finish well. “Be strong, and let us show ourselves courageous for the sake of our people and for the cities of our God” 2Samuel 10:12 (James 1:12; 2Timothy 4:7)</p>



<h2>4. Humility and a Teachable Spirit</h2>
<p>Political leaders have great power, deal with immense sums of money, and are often treated like royalty.  This can quickly go to their heads and lead to arrogance and pride.  Pray that God will keep them on their knees and heed His instruction so that they can be led by Him before they attempt to lead us. “Has not my hand made all these things, and so they came into being?" declares the Lord. "This is the one I esteem: he who is humble and contrite in spirit, and trembles at my word.” Isaiah 66:2b (Proverbs 16:18; Micah 6:8)</p>




<h2>5. Moral Integrity and Self-Control</h2>
<p>Political leaders regularly encounter many strong temptations, including greed, deceitfulness, sexual immorality, alcohol and drug abuse.  Pray for them to have the strength to resist these traps that can destroy their lives, families as well as their effectiveness as leaders. “I know, my God, that you test the heart and are pleased with integrity. All these things have I given willingly and with honest intent. And now I have seen with joy how willingly your people who are here have given to you.” 1 Chronicles 29:17 (Psalm 25:21; Isaiah 33:15-16)</p>

