@import "bootstrap";
@import "bootstrap-responsive";


body {
  //background: #0F2D4D;
  margin: 0;
}

.thumbnail-leaders h2{
  font-size: 32px;
  color: #700f16;
  margin: 1em;
}
.thumbnail-leader {
  margin: 0.5em 0; 
  color: #0F2D4D;
  text-align: center;
}
.nolink:link { text-decoration: none }
.nolink:hover { text-decoration: none }
.nolink:active { text-decoration: none }
.nolink:visited { text-decoration: none }
    

.state-header {
  color: #0F2D4D;
  text-align: center;
}

.date {
  font-size: 2em;
  font-weight: bold;
  color: #999;
  text-align: center;
  margin-bottom: 1em;
}

.head-shot {
}

.member-name small {
  color: #700f16;
  padding-left: 0.5em;
}
.right-align {
  text-align: right;
}
.left-align {
  text-align: left;
}
.center-align {
  text-align: center;
}
footer {
  color: rgb(237, 238, 238);
  font-size: 11px;
  line-height: 13px;
  padding: 25px 16px 7px 24px;
  position: relative;
  background: linear-gradient(to bottom, rgb(20, 62, 118) 0%, rgb(14, 46, 88) 100%) repeat scroll 0% 0% transparent;
  height: 3em;
}

#header {
  background: none repeat scroll 0% 0% rgb(245, 245, 245);
  padding: 19px 46px 14px 35px;
  border-bottom: 1px solid rgb(202, 202, 202);
  position: relative;
}

.block-info {
  text-align: center;
  position: relative;
  top: -18px;
  background: linear-gradient(to bottom, rgb(251, 251, 251) 0%, rgb(237, 238, 238) 100%) repeat scroll 0% 0% transparent;
  box-shadow: 0px -1px 0px 0px rgb(177, 177, 177) inset, 0px 1px 0px 0px rgb(217, 217, 217);
  border-radius: 0px 0px 6px 6px;
  min-width: 45%;
  overflow: hidden;
  padding: 16px 15px 11px;
}

h1.usa-prays {
  font-weight: normal;
}
h1.usa-prays small {
  font-style: italic;
}
